[Desktop Entry]
Name=MaterialUI
X-KDE-PluginInfo-Author=Azzy Novais
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=floatingfloatskies@protonmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=MaterialUI
X-KDE-PluginInfo-Version=1.0.0
